{% extends 'base.html' %}

{% block title %}
    Register Page
{% endblock %}

{% block content %}
<body class="text-center">
        <form method="POST" class="form-register">
            <h1>Please Create your Account</h1>
            <div class="form-group">
            <br>
            <label for="username">User Name</label>
            <input type="text" name="username" placeholder="User Name:" class="form-control"
            value="{{ request.form['username'] }}"></input>
            </div>
            <div class="form-group">
                <label for="email_address">Email</label>
                <input type="text" name="email_address" placeholder="Email Address:" class="form-control"
                value="{{ request.form['email_address'] }}"></input>
            </div>
            <div class="form-group">
                <label for="password1">Password</label>
                <input type="password" name="password1" placeholder="Password" class="form-control"
                value="{{ request.form['password1'] }}"></input>
            </div>
            <div class="form-group">
                <label for="password2">Confirm Password</label>
                <input type="password" name="password2" placeholder="Confirm Password" class="form-control"
                value="{{ request.form['password2'] }}"></input>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create Account</button>
            </div>
        </form>
</body>
{% endblock %}